@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lighter: #2f2f2f;
  --action: #5dff90;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
